/node_modules
/npm-debug.log
*/atlassian-ide-plugin.xml
/src/main/ajs/.sass-cache
/src/main/ajs/node_modules
/src/main/ajs/.tmp
/src/main/ajs/app/.bower-cache
/src/main/ajs/app/.bower-registry
/src/main/ajs/app/.bower-tmp
/src/main/ajs/app/bower_components

