.key--edit, .picture--edit, .User--minus, .User--pencil, .User--plus, .User--save, .grant--add, .grant--delete, .User--minus, .User--plus, .Users--minus, .Users--plus, .Users--save, .Users, .Module--add, .Module--disabled, .Module--minus, .Module--save, .Module--start, .Module--stop, .Preference--minus, .Preference--plus, .Preference--save, .help, .logout, .modules, .preferences, .profiles, .roles, .users, .refresh{
	background: url(core-icons.png) no-repeat;
}

.key--edit{
	background-position: -160px 0;
	width: 16px;
	height: 16px;
}

.picture--edit{
	background-position: -130px 0;
	width: 16px;
	height: 16px;
}

.User--minus{
	background-position: -33px 0;
	width: 16px;
	height: 16px;
}

.User--pencil{
	background-position: -65px 0;
	width: 16px;
	height: 16px;
}

.User--plus{
	background-position: 0 0;
	width: 16px;
	height: 16px;
}

.User--save{
	background-position: -100px 0;
	width: 16px;
	height: 16px;
}

.grant--add{
	background-position: -183px -33px ;
	width: 16px;
	height: 16px;
}

.grant--delete{
	background-position: -210px -33px ;
	width: 16px;
	height: 16px;
}

.User--minus{
	background-position: -160px -33px ;
	width: 16px;
	height: 16px;
}

.User--plus{
	background-position: -130px -33px ;
	width: 16px;
	height: 16px;
}

.Users--minus{
	background-position: -65px -33px ;
	width: 16px;
	height: 16px;
}

.Users--plus{
	background-position: -33px -33px ;
	width: 16px;
	height: 16px;
}

.Users--save{
	background-position: -100px -33px ;
	width: 16px;
	height: 16px;
}

.Users{
	background-position: 0 -33px ;
	width: 16px;
	height: 16px;
}

.Module--add{
	background-position: -233px -33px ;
	width: 16px;
	height: 16px;
}

.Module--disabled{
	background-position: -310px -33px ;
	width: 16px;
	height: 16px;
}

.Module--minus{
	background-position: -260px -33px ;
	width: 16px;
	height: 16px;
}

.Module--save{
	background-position: -283px -33px ;
	width: 16px;
	height: 16px;
}

.Module--start{
	background-position: -360px -33px ;
	width: 16px;
	height: 16px;
}

.Module--stop{
	background-position: -333px -33px ;
	width: 16px;
	height: 16px;
}

.Preference--minus{
	background-position: -410px -33px ;
	width: 16px;
	height: 16px;
}

.Preference--plus{
	background-position: -383px -33px ;
	width: 16px;
	height: 16px;
}

.Preference--save{
	background-position: -433px -33px ;
	width: 16px;
	height: 16px;
}

.help{
	background-position: -183px -73px ;
	width: 16px;
	height: 16px;
}

.logout{
	background-position: -160px -73px ;
	width: 16px;
	height: 16px;
}

.modules{
	background-position: -133px -73px ;
	width: 16px;
	height: 16px;
}

.preferences{
	background-position: -100px -73px ;
	width: 16px;
	height: 16px;
}

.profiles{
	background-position: -65px -73px ;
	width: 16px;
	height: 16px;
}

.roles{
	background-position: -33px -73px ;
	width: 16px;
	height: 16px;
}

.users{
	background-position: 0 -73px ;
	width: 16px;
	height: 16px;
}

.refresh{
	background-position: -210px -73px ;
	width: 16px;
	height: 16px;
}

