<div id="loginDialog" class="login-dialog modal show" data-keyboard="false" data-backdrop="static" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{'BASE.LOGIN.NAME'|translate}}</h3>
            </div>
            <div class="modal-body">
                <form ng-submit="login()" class="form-horizontal">
                    <div ng-show="message">
                        <p class="text-error" ng-bind="message"></p>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label" for="usernameTxt">Username</label>

                        <div class="col-sm-10">
                            <input id="usernameTxt" class="form-control" type="text" placeholder="Username" ng-model="user.username"/>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label" for="passwordTxt">Password</label>

                        <div class="col-sm-10">
                            <input id="passwordTxt" class="form-control" type="text" placeholder="Password" ng-model="user.password"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-default">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

