<div class="container header-menu navbar container" ui-view="header-view" />
<!-- Menu Tree Pane -->
<div class="span2 navbar-inner" ui-view="menu-view" ng-animate="{enter:'fade-enter'}"></div>

<toaster-container
        toaster-options="{
            'positionClass': 'toast-top-left',
            'showDuration': '10000',
            'hideDuration': '10000',
            'timeOut': '10000',
            'extendedTimeOut': '10000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut'}">
</toaster-container>

<!-- Content Pane -->
<div class="span10" ui-view="content-view"></div>
