<div class="row subheader-button-area">
    <script type="text/ng-template" id="addUserDlg.html">
        <div class="modal-header">
            <h3>{{dialog.title}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="usernameTxt" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="selUser.username" class="form-control" id="usernameTxt" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fullnameTxt" class="col-sm-2 control-label">Fullname</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="selUser.fullname" class="form-control" id="fullnameTxt" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="descriptionTxt" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="selUser.userDetails.description" class="form-control" id="descriptionTxt">
                    </div>
                </div>
                <div class="form-group">
                    <label for="departmentTxt" class="col-sm-2 control-label">Department</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="selUser.userDetails.department" class="form-control" id="departmentTxt" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="officeTxt" class="col-sm-2 control-label">Office</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="selUser.userDetails.office" class="form-control" id="officeTxt" placeholder="">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="uploadDlg.html">
        <div class="modal-header">
            <h3>{{dialog.title}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form" id="myFile" name="myFile">
                <div class="form-group">
                    <label for="filenameTxt" class="col-sm-2 control-label">Filename</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="myModelObj" class="form-control" id="filenameTxt" placeholder="">
                        <input type="file" ng-file-select="onFileSelect($files)" >
                    </div>
                </div>
                <label for="progressBar" class="col-sm-2 control-label">Progress</label>
                <div class="progress">
                    <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;"></div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="start()">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <div class="row-fluid">
        <div class=""><h2></h2></div>
        <div class="button-bar">
            <a ng-click="addUser()" class="btn btn-default" title="Add a new User ...">
                <i class="User--plus pull-left"></i>
            </a>
            <a ng-click="deleteUser()" class="{{(!oneSelected() && !multipleSelected()) && 'disabled' || ''}} btn btn-default" title="Delete selected Users">
                <i class="User--minus pull-left"></i>
            </a>
            <a ng-click="editUser()" class="{{!oneSelected() && 'disabled' || ''}} btn btn-default" title="Edit an existing User ...">
                <i class="User--pencil pull-left"></i>
            </a>
            <a ng-click="saveUser()" class="btn btn-default" title="Save User details">
                <i class="User--save pull-left"></i>
            </a>
            <a ng-click="loadUsers()" class="btn btn-default" title="Load all Users">
                <i class="refresh pull-left"></i>
            </a>
            <a ng-click="changePassword()" class="{{!oneSelected() && 'disabled' || ''}} btn btn-default" title="Changing an Users password ...">
                <i class="key--edit pull-left"></i>
            </a>
            <a ng-click="changeImage()" class="{{!oneSelected() && 'disabled' || ''}} btn btn-default" title="Change the image of an User ...">
                <i class="picture--edit pull-left"></i>
            </a>
        </div>
        <form class="form-inline" role="form">
            <div class="form-group right-inner-addon">
                <input type="search" class="form-control" chk-users placeholder="Search..." />
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="">
            <div class="{{isSelected($index) && 'users-card-active' || ''}} users-card panel-body " style="padding:10px;margin:10px;display: block;float: left" ng-repeat="user in userEntities" ng-click="onClickUserCard($index)">
                <div class="users-inner-card row-fluid" style="background-color: transparent">
                    <div class="span2" ng-if="user.userDetails != null && user.userDetails.image != ''">
                        <img ng-src="{{decode(user.userDetails.image)}}" class="users-user-image" alt="{{user.username}}" title="{{user.username}}">
                    </div>
                    <div class="span2" ng-if="user.userDetails != null && user.userDetails.image == '' && user.userDetails.sex == 'MALE'">
                        <img src="../images/dialogs/user/userDefaultMan.jpg" class="users-user-image" alt="{{user.username}}" title="{{user.username}}">
                    </div>
                    <div class="span2" ng-if="user.userDetails != null && user.userDetails.image == '' && user.userDetails.sex == 'FEMALE'">
                        <img src="../images/dialogs/user/userDefaultWoman.jpg" class="users-user-image" alt="{{user.username}}" title="{{user.username}}">
                    </div>
                    <div class="span2"
                         ng-if="(user.userDetails == null || ((user.userDetails.image == '' || user.userDetails.image == null) && user.userDetails.sex == null))">
                        <img src="../images/dialogs/user/userDefaultUniSex.jpg" class="users-user-image" alt="{{user.username}}" title="{{user.username}}">
                    </div>
                    <div class="users-card-key">{{user.username}}</div>
                    <div class="users-card-content">{{user.fullname}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
