/*
 * OpenWMS, the Open Warehouse Management System
 * 
 * Distributable under LGPL license.
 * See terms of license at gnu.org.
 *
 * Main colors:
 * blue		: 2e7bb1
 * yellow	: e1e76b 
 *
 */
Application {
	paddingLeft: 5px;
	paddingRight: 5px;
	paddingTop: 5px;
	paddingBottom: 5px;
	horizontalAlign: "left";
	backgroundGradientColors:#2E7BB1,#FFFFFF;
	backgroundColor: #FFFFFF;
	font-family: "Verdana";
}

.headerArea {
	width: 200px;
	textAlign: "center";
}
