<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">

    <property name="LOG_TEMP" value="/tmp/owms"/>
    <property name="MODULE_NAME" value="TEST"/>

    <include resource="logback-appenders.xml" />
    <include resource="logback-loggers.xml" />

    <logger name="org.dozer" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="OFF"/>
    <logger name="org.hibernate.type" level="OFF"/>
    <logger name="org.junit" level="OFF"/>
    <logger name="org.openwms" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>