<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>
    <appender name="LOGFILE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>Tenant</key>
            <defaultValue>BOOT</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${Tenant}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${catalina.base:-.}/logs/${Tenant}-tms.log</file>
                <prudent>false</prudent>

                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <fileNamePattern>${catalina.base:-.}/logs/${Tenant}--%d{YYYY-MM-DD HH:mm:ss}-tms.%i.log
                    </fileNamePattern>
                    <MinIndex>1</MinIndex>
                    <MaxIndex>10</MaxIndex>
                </rollingPolicy>

                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>

                <encoder>
                    <pattern>${Tenant}-%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level \(%thread\) [%logger{36}];[%X{MSGKEY}];[%X{MSGDATA}] - %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender name="EXCFILE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>Tenant</key>
            <defaultValue>BOOT</defaultValue>
        </discriminator>
        <sift>
            <appender name="EXCFILE-${Tenant}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${catalina.base:-.}/logs/${Tenant}-tms.exlog</file>
                <prudent>false</prudent>

                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <fileNamePattern>${catalina.base:-.}/logs/${Tenant}--%d{YYYY-MM-DD HH:mm:ss}-tms.%i.exlog
                    </fileNamePattern>
                    <MinIndex>1</MinIndex>
                    <MaxIndex>10</MaxIndex>
                </rollingPolicy>

                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>

                <encoder>
                    <pattern>${Tenant}-%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level \(%thread\) [%logger{36}];[%X{MSGKEY}];[%X{MSGDATA}] - %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender name="TSL" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>Tenant</key>
            <defaultValue>BOOT</defaultValue>
        </discriminator>
        <sift>
            <appender name="TSL-${Tenant}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${catalina.base:-.}/logs/${Tenant}-tms.tslog</file>
                <prudent>false</prudent>

                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <fileNamePattern>${catalina.base:-.}/logs/${Tenant}--%d{YYYY-MM-DD HH:mm:ss}-tms.%i.tslog
                    </fileNamePattern>
                    <MinIndex>1</MinIndex>
                    <MaxIndex>10</MaxIndex>
                </rollingPolicy>

                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>

                <encoder>
                    <pattern>${Tenant}-%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level \(%thread\) [%logger{36}];[%X{MSGKEY}];[%X{MSGDATA}] - %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <logger name="org.openwms" level="DEBUG"/>
    <logger name="org.hibernate" level="WARN"/>

    <!-- Specialized loggers -->
    <logger name="PRESENTATION_LAYER_EXCEPTION" level="ERROR" additivity="false">
        <appender-ref ref="EXCFILE"/>
        <appender-ref ref="LOGFILE"/>
    </logger>
    <logger name="SERVICE_LAYER_ACCESS" level="DEBUG" additivity="false">
        <appender-ref ref="TSL"/>
    </logger>
    <logger name="SERVICE_LAYER_EXCEPTION" level="ERROR" additivity="false">
        <appender-ref ref="EXCFILE"/>
        <appender-ref ref="LOGFILE"/>
    </logger>
    <logger name="INTEGRATION_LAYER_ACCESS" level="DEBUG" additivity="false">
        <appender-ref ref="TSL"/>
    </logger>
    <logger name="INTEGRATION_LAYER_EXCEPTION" level="ERROR" additivity="false">
        <appender-ref ref="EXCFILE"/>
        <appender-ref ref="LOGFILE"/>
    </logger>
    <logger name="MEASURED" level="DEBUG" additivity="false">
        <appender-ref ref="TSL"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGFILE"/>
    </root>

</configuration>