<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] - %m%n" />
        </layout>
    </appender>

    <category name="org.openwms">
        <priority value="TRACE" />
    </category>

    <category name="org.hsqldb">
        <priority value="TRACE" />
    </category>

    <category name="org.hibernate.type">
        <priority value="INFO" />
    </category>

    <category name="org.hibernate.SQL">
        <priority value="INFO" />
    </category>

    <root>
        <priority value="ERROR" />
        <appender-ref ref="STDOUT" />
    </root>

</log4j:configuration>