<div class="row subheader-button-area">
    <script type="text/ng-template" id="addUserDlg.html">
        <div class="modal-header">
            <h3>{{dialog.title}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="usernameTxt" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="selUser.username" class="form-control" id="usernameTxt" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fullnameTxt" class="col-sm-2 control-label">Fullname</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="selUser.fullname" class="form-control" id="fullnameTxt" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="descriptionTxt" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="selUser.userDetails.description" class="form-control" id="descriptionTxt">
                    </div>
                </div>
                <div class="form-group">
                    <label for="departmentTxt" class="col-sm-2 control-label">Department</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="selUser.userDetails.department" class="form-control" id="departmentTxt" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="officeTxt" class="col-sm-2 control-label">Office</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="selUser.userDetails.office" class="form-control" id="officeTxt" placeholder="">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="uploadDlg.html">
        <div class="modal-header">
            <h3>{{dialog.title}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form" id="myFile" name="myFile">
                <div class="form-group">
                    <label for="filenameTxt" class="col-sm-2 control-label">Filename</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="myModelObj" class="form-control" id="filenameTxt" placeholder="">
                        <input type="file" ng-file-select="onFileSelect($files)" >
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <div class="row-fluid">
        <div class=""><h2>User Management</h2></div>
        <div class="button-bar">
            <a ng-click="addUser()" class="btn btn-default">
                <i class="User--plus pull-left"></i>
            </a>
            <a ng-click="deleteUser()" class="{{(!oneSelected() && !multipleSelected()) && 'disabled' || ''}} btn btn-default">
                <i class="User--minus pull-left"></i>
            </a>
            <a ng-click="editUser()" class="{{!oneSelected() && 'disabled' || ''}} btn btn-default">
                <i class="User--pencil pull-left"></i>
            </a>
            <a ng-click="saveUser()" class="btn btn-default">
                <i class="User--save pull-left"></i>
            </a>
            <a ng-click="loadUsers()" class="btn btn-default">
                <i class="refresh pull-left"></i>
            </a>
            <a ng-click="changePassword()" class="{{!oneSelected() && 'disabled' || ''}} btn btn-default">
                <i class="key--edit pull-left"></i>
            </a>
            <a  ng-click="changeImage()" class="{{!oneSelected() && 'disabled' || ''}} btn btn-default">
                <i class="picture--edit pull-left"></i>
            </a>
        </div>
        <form class="form-inline" role="form">
            <div class="form-group right-inner-addon">
                <input type="search" class="form-control" chk-users placeholder="Search..." />
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <!--
    <div id="usersListPnl" class="span2" ng-if="userEntities">
        <div class="{{userEntities[$index].id == selectedUser.id && 'users-card-active' || ''}} users-card container-fluid navbar-inner animated bounceInUp"
             ng-repeat="user in userEntities"
             ng-click="selectedCard($index)">
            <div class="users-inner-card row-fluid animated bounceInUp">
                <div class="span2" ng-if="user.userDetails != null && user.userDetails.image != ''">
                    <img ng-src="data:image;base64,{{user.userDetails.image}}" class="users-user-image">
                </div>
                <div class="span2" ng-if="user.userDetails != null && user.userDetails.image == '' && user.userDetails.sex == 'MALE'">
                    <img src="../images/dialogs/user/userDefaultMan.jpg" class="users-user-image">
                </div>
                <div class="span2" ng-if="user.userDetails != null && user.userDetails.image == '' && user.userDetails.sex == 'FEMALE'">
                    <img src="../images/dialogs/user/userDefaultWoman.jpg" class="users-user-image">
                </div>
                <div class="span2"
                     ng-if="(user.userDetails == null || user.userDetails.image == '' || user.userDetails.image == null) && user.userDetails.sex == ''">
                    <img src="../images/dialogs/user/userDefaultUniSex.jpg" class="users-user-image">
                </div>
                <div class="users-card-key">{{user.username}}</div>
                <div class="users-card-content">{{user.fullname}}</div>
            </div>
        </div>
    </div>
    -->
    <!--div class="gridStyle" ng-grid="gridOptions"></div-->

    <div class="container">
        <div class="">
            <div class="{{isSelected($index) && 'users-card-active' || ''}} users-card panel-body " style="padding:10px;margin:10px;display: block;float: left" ng-repeat="user in userEntities" ng-click="onClickUserCard($index)">
                <div class="users-inner-card row-fluid" style="background-color: transparent">
                    <div class="span2" ng-if="user.userDetails != null && user.userDetails.image != ''">
                        <img ng-src="{{decode(user.userDetails.image)}}" class="users-user-image" alt="{{user.username}}" title="{{user.username}}">
                    </div>
                    <div class="span2" ng-if="user.userDetails != null && user.userDetails.image == '' && user.userDetails.sex == 'MALE'">
                        <img src="../images/dialogs/user/userDefaultMan.jpg" class="users-user-image" alt="{{user.username}}" title="{{user.username}}">
                    </div>
                    <div class="span2" ng-if="user.userDetails != null && user.userDetails.image == '' && user.userDetails.sex == 'FEMALE'">
                        <img src="../images/dialogs/user/userDefaultWoman.jpg" class="users-user-image" alt="{{user.username}}" title="{{user.username}}">
                    </div>
                    <div class="span2"
                         ng-if="(user.userDetails == null || ((user.userDetails.image == '' || user.userDetails.image == null) && user.userDetails.sex == null))">
                        <img src="../images/dialogs/user/userDefaultUniSex.jpg" class="users-user-image" alt="{{user.username}}" title="{{user.username}}">
                    </div>
                    <div class="users-card-key">{{user.username}}</div>
                    <div class="users-card-content">{{user.fullname}}</div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div id="usersDetailsPnl" ng-class="{ 'span10': userEntities != null }" class="navbar-default">
        <form>
            <div class="row">
                <div class="span2 users-form-left-col">ID</div>
                <div class="span10">{{selectedUser.id}}</div>
            </div>
            <div class="row">
                <div class="span2 users-form-left-col">Username</div>
                <div class="span10"><input type="text" ng-model="selectedUser.username" value="ID"/></div>
            </div>
            <div class="row">
                <div class="span2 users-form-left-col">Fullname</div>
                <div class="span10"><input type="text" ng-model="selectedUser.fullname" value="FULLNAME"/></div>
            </div>
            <div class="row">
                <div class="span2 users-form-left-col">Description</div>
                <div class="span10"><textarea ng-model="selectedUser.userDetails.description" value="DESCRIPTION"/></div>
            </div>
            <div class="row">
                <div class="span2 users-form-left-col">Phone No.</div>
                <div class="span10"><input type="tel" ng-model="selectedUser.userDetails.phoneNo" value="PHONENO"/></div>
            </div>
            <div class="row">
                <div class="span2 users-form-left-col">IM</div>
                <div class="span10"><input type="text" ng-model="selectedUser.userDetails.skypeName" value="SKYPENAME"/></div>
            </div>
            <div class="row">
                <div class="span2 users-form-left-col">Department</div>
                <div class="span10"><input type="text" ng-model="selectedUser.userDetails.department" value="DEPARTMENT"/></div>
            </div>
            <div class="row">
                <div class="span2 users-form-left-col">Office</div>
                <div class="span10"><input type="text" ng-model="selectedUser.userDetails.office" value="OFFICE"/></div>
            </div>
            <div class="row">
                <div class="span2 users-form-left-col">Sex</div>
                <div class="span10"><label class="radio"><input type="radio" ng-model="selectedUser.userDetails.sex" value="MALE"/>
                    male</label>
                    <label class="radio"><input type="radio" ng-model="selectedUser.userDetails.sex" value="FEMALE"/> female</label>
                </div>
            </div>
            <div class="row">
                <div class="span2 users-form-left-col">Comment</div>
                <div class="span10"><textarea ng-model="selectedUser.userDetails.comment" value="COMMENT"/></div>
            </div>
            <div class="row">
                <div class="span2 users-form-left-col"></div>
                <div class="span10"><label class="checkbox"><input type="checkbox" ng-model="selectedUser.enabled"/> Enabled</label></div>
            </div>
            <div class="row">
                <div class="span2 users-form-left-col"></div>
                <div class="span10"><label class="checkbox"><input type="checkbox" ng-model="selectedUser.locked"/> Locked</label></div>
            </div>
            <div class="row">
                <div class="span2 users-form-left-col">Account expires at</div>
                <div class="span10"><input type="date" ng-model="selectedUser.expirationDate"/></div>
            </div>
            <div class="row">
                <div class="span2 users-form-left-col">Version</div>
                <div class="span10"><input type="text" ng-model="selectedUser.version" value="VERSION"/></div>
            </div>
        </form>
    </div>
    -->
</div>