<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr class="row">
                <th>Username</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>Locked</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row" *ngFor="#user of users" (click)="click(user)">
                <td>{{user.username}}</td>
                <td>{{user.fullname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.enabled}}</td>
                <td>{{user.locked}}</td>
            </tr>
        </tbody>
    </table>
</div>