<ul class="nav nav-list">
    <li class="nav-header">Application</li>
    <li ng-class="{active : linkActive == 'users'}"><a ng-href="#/users" ng-click="clickCoreMenuItem()"><i class="icon-user icon-white"></i><span
            id="usersLbl" class="left-padded5">{{users.text}}</span></a></li>
    <li ng-class="{active : linkActive == 'roles'}"><a ng-href="#/roles" ng-click="clickCoreMenuItem()"><img src="images/navi/roles.png"
                                                                                                             class="img-rounded"><span
            class="left-padded5">Roles</span></img></a></li>
    <li ng-class="{active : linkActive == 'modules'}"><a ng-href="#/modules" ng-click="clickCoreMenuItem()"><img
            src="images/navi/modules.png" class="img-rounded"><span class="left-padded5">Modules</span></img></a></li>
    <li class="divider"></li>
    <li ng-class="{active : linkActive == 'preferences'}"><a ng-href="#/preferences" ng-click="clickCoreMenuItem()"><img
            src="images/navi/preferences.png" class="img-rounded"><span class="left-padded5">Preferences</span></img></a></li>
    <li class="divider"></li>
    <li ng-class="{active : linkActive == 'help'}"><a ng-href="#/help" ng-click="clickCoreMenuItem()"><img src="images/navi/help.png"
                                                                                                           class="img-rounded"><span
            class="left-padded5">Help</span></img></a></li>
    <li ng-class="{active : linkActive == 'profile'}"><a ng-href="#/profile" ng-click="clickCoreMenuItem()"><img
            src="images/navi/profiles.png" class="img-rounded"><span class="left-padded5">Profile</span></img></a></li>
    <li ng-class="{active : linkActive == 'logout'}"><a ng-href="#/logout" ng-click="logout()"><img src="images/navi/logout.png"
                                                                                                    class="img-rounded"><span
            class="left-padded5">Logout</span></img></a></li>
</ul>
