/*
 * openwms.org, the Open Warehouse Management System.
 *
 * This file is part of openwms.org.
 *
 * openwms.org is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * openwms.org is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software. If not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.

 * Main colors:
 * blue		    : #2e7bb1 #00b3ee
 * yellow	    : #e1e76b
 * light-blue   : #c9dcea
 * lighter-blue : #edf4fa
 */
body {
/*	font-family: Verdana, Helvetica, sans-serif; */
/*    font-size: 11px; */
    background-color: #333333;
    background-image: url("../images/background.jpg");
    background-repeat: repeat;

    color: #00b3ee;
}

.header-area {
    background-color: transparent;
/**/
    background-image: url("../images/openwms_header.png");
    background-repeat: no-repeat;
}

/*
 Common UI components
 */
.named-div {
    background-color: #30404f;
}

/**********************************************
 * Users Page
 **********************************************/
.users-card {
    -webkit-box-shadow: 1px 1px 5px 2px #00b3ee;
    -moz-box-shadow: 1px 1px 5px 2px #00b3ee;
    box-shadow: 1px 1px 5px 2px #00b3ee;
}
