<!--
    Default Menu
-->
<ul class="nav nav-list">

    <li class="nav-header">Application</li>

    <li ng-class="{active : linkActive == 'users'}">
        <a ng-href="#/users" ng-click="clickCoreMenuItem()">
            <i class="icon-user icon-white"></i>
            <span id="usersLbl" class="left-padded5">{{users.text}}</span>
        </a>
    </li>

    <li ng-class="{active : linkActive == 'roles'}">
        <a ng-href="#/roles" ng-click="clickCoreMenuItem()">
            <i class="users pull-left"></i>
            <span class="left-padded5">Roles</span>
        </a>
    </li>

    <li ng-class="{active : linkActive == 'modules'}">
        <a ng-href="#/modules" ng-click="clickCoreMenuItem()">
            <i class="modules pull-left"></i>
            <span class="left-padded5">Modules</span>
        </a>
    </li>

    <li class="divider"></li>

    <li ng-class="{active : linkActive == 'preferences'}">
        <a ng-href="#/preferences" ng-click="clickCoreMenuItem()">
            <i class="preferences pull-left"></i>
            <span class="left-padded5">Preferences</span>
        </a>
    </li>

    <li class="divider"></li>

    <li ng-class="{active : linkActive == 'help'}">
        <a ng-href="#/help" ng-click="clickCoreMenuItem()">
            <i class="help pull-left"></i>
            <span class="left-padded5">Help</span>
        </a>
    </li>

    <li ng-class="{active : linkActive == 'profile'}">
        <a ng-href="#/profile" ng-click="clickCoreMenuItem()">
            <i class="profiles pull-left"></i>
            <span class="left-padded5">Profile</span>
        </a>
    </li>

    <li ng-class="{active : linkActive == 'logout'}">
        <a ng-href="#/logout" ng-click="logout()">
            <i class="logout pull-left"></i>
            <span class="left-padded5">Logout</span>
        </a>
    </li>
</ul>
