<div class="modal-header" ng-class="modalOptions.type === 'WARN' ? 'alert-warning' : (modalOptions.type === 'ERROR' ? 'alert-error' : (modalOptions.type === 'INFO' ? 'alert-info' : ''))">
    <h4>{{modalOptions.headerText}}</h4>
</div>
<div class="modal-body">
    <div ng-if="modalOptions.messageTxt"><h4>{{modalOptions.messageTxt}}</h4></div>
    <ng-include src="modalOptions.template"></ng-include>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="modalOptions.callback(modalOptions.action)">{{modalOptions.actionButtonText}}</button>
    <button class="btn btn-default" ng-if="modalOptions.showCloseButton" ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
</div>
